@charset "UTF-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
}

header {
	background-color: #25323c; 
	text-align: center;
	color: white;
	padding: 20px 0 20px 0;
}

.intro-text {
	text-align: center;
}

.signup {
	font-size: 24px;
	color: #25323c;
	font-weight: bold;
}

.latestnews {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 20px;
	font-size: 18px;
	color: #a0a0a0;
	text-align: center;
}

.border-thick {
	width: 90%;
	margin: 0 auto;
	border-bottom: 3px solid #25323c;
}

.border-thin {
	width: 90%;
	margin: 0 auto;
	border-bottom: 2px solid #25323c;
	padding-top: 10px;
}

/* FORM STYLES */

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	width: 80%;
	background-color: #e9e9e9;
	border: none;
	height: auto;
	margin: 10px 0 10px 20px;
	border-radius: 2px;
	font-size: 18px;
	padding: 20px;
}

.topics {
	margin-top: 20px;
}

label {
	display: block;
	margin-left: 20px;
	font-size: 18px;
	color: #4a5e6d;
}

label.light {
	display: inline;
}

legend {
	margin: 20px 0 20px 20px;
	font-size: 26px;
	color: #25323c;
}

select {
	margin-left: 20px;
	width: 90%;
}

input[type="checkbox"] {
	margin: 20px 0 0 20px;
}

input[type="radio"] {
	margin: 20px 0 0 20px;
}

.format {
	margin-top: 20px;
}

