@charset "UTF-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
}

header {
	background-color: #25323c; 
	text-align: center;
	color: white;
	padding: 20px 0 20px 0;
}

.intro-text {
	text-align: center;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.signup {
	font-size: 24px;
	color: #25323c;
	font-weight: bold;
}

.latestnews {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 20px;
	font-size: 18px;
	color: #a0a0a0;
	text-align: center;
}

.border-thick {
	width: 90%;
	margin: 0 auto;
	border-bottom: 3px solid #25323c;
}

.border-thin {
	width: 90%;
	margin: 0 auto;
	border-bottom: 2px solid #25323c;
	padding-top: 10px;
}

.border-thin-two {
	width: 96%;
	margin: 0 auto;
	margin-left: 0px;
	border-bottom: 2px solid #25323c;
	padding-top: 10px;
}

/* FORM STYLES */

fieldset {
	border: none;
	margin-left: 0px;
	padding-left: 0px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	width: 96%;
	background-color: #e9e9e9;
	border: none;
	height: auto;
	margin: 10px 0 10px 0;
	border-radius: 2px;
	font-size: 18px;
	padding: 20px 0 20px 20px;
}

input:focus {
	outline: none !important;
	border: 2px solid #223148;
	box-shadow: none;
}

textarea:focus {
	outline: none !important;
	border: 2px solid #223148;
	box-shadow: none;
}

input::-webkit-input-placeholder {
	text-align: right;
	padding-right: 20px;
}

#zipcode {
	width: 50%;
}

.topics {
	margin-top: 20px;
}

.state_style {
	width: 99%;
	height: 60px;
	border: none;
	margin: 0 0 10px 0;
	background-color: #e9e9e9;
}

label {
	display: block;
	font-size: 18px;
	color: #4a5e6d;
}

label.light {
	display: inline;
	padding-left: 20px;
}

legend {
	margin: 0px 0 20px 0;
	padding-top: 20px;
	font-size: 26px;
	color: #25323c;
}

select {
	margin-left: 20px;
	width: 90%;
}

input[type="checkbox"] {
	margin: 20px 0 0 20px;
}

input[type="radio"] {
	margin: 20px 0 0 20px;
}

.format {
	margin-top: 20px;
}

button {
	width: 100%;
	background-color: #94ea7d;
	font-size: 22px;
	color: white;
	border: none;
	border-radius: 2px;
	padding: 20px;
}

.footer-text {
	text-align: center;
	color: #acacac;
	padding: 20px 0 100px 0;
}

@media screen and (min-width: 760px) {
	* {
		box-sizing: border-box;
	}
	
	.container {
		width: 70%;
		
	}
	
	header {
		background-color: #25323c; 
		text-align: center;
		color: white;
		padding: 5px 0 5px 0;
}
	
	.border-thick
	{
		width: 70%;
		margin: 0 auto;
		border-bottom: 3px solid #25323c;
}
	.border-thin {
		width: 70%;
		margin: 0 auto;
		border-bottom: 1px solid #25323c;
}

	label {
		display: inline-block;
		width: 20%;
}

	input[type="email"],
	input[type="tel"],
	input[type="text"],
	textarea
	 {
		display: inline;
		width: 79%;
	}
	
	.state_style  {
		margin-top: 10px;
		display: inline;
		width: 79%;
	}
	
	.newsletter-text {
		display: inline;
	}
	
	.topics {
		width: 60%;
		display: block;
	}
	
	.textarea-style {
		width: 100%;
	}
}

